{% macro months(field_name, default=1) %}
    {% set names = [
        "styczeń", "luty", "marzec", "kwiecień",
        "maj", "czerwiec", "lipiec", "sierpień",
        "wrzesień", "październik", "listopad", "grudzień"
    ] %}
    <select name="{{ field_name }}" class="form-select">
        {% for name in names %}
            <option value="{{ loop.index }}" {% if loop.index == default %}selected{% endif %}>
                {{ name }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ISE</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

<div class="container-lg my-5">
    <h1>Projekt ISE</h1>

    <div class="row d-flex justify-content-lg-center">
        <div id="usage-form" class="col-sm-12 col-lg-4">
            <form id="energy-usage">
                <div class="mb-3">
                    <label for="latitude" class="form-label">Położenie geograficzne</label>

                    <button type="button" class="btn btn-sm btn-outline-secondary float-end" id="open-map">
                        Wybierz z mapy
                    </button>

                    <div class="input-group mb-3">
                        <span class="input-group-text">dł.</span>
                        <input name="latitude" type="number" class="form-control"
                               min="-90" max="90" step="0.00001"
                               value="51.11163"/>

                        <span class="input-group-text">szer.</span>
                        <input name="longitude" type="number" class="form-control"
                               min="-180" max="180" step="0.00001"
                               value="17.05367"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Zakres czasowy</label>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Od</span>
                        {{ months("month_start") }}
                        <input name="year_start" type="number" class="form-control"
                               maxlength="4" value="2020"/>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Do</span>
                        {{ months("month_end", 12) }}
                        <input name="year_end" type="number" class="form-control"
                               maxlength="4" value="2020"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="set_energy">Moc instalacji</label>
                    <div class="input-group mb-3">
                        <input name="set_energy" type="number" class="form-control"
                               min="1" value="50" step="0.1"/>
                        <span class="input-group-text">kW</span>

                    </div>
                </div>

                <div class="mb-3">
                    <label>Zużycie energii</label>
                    <div id="usage-rows">
                        <!-- Wypełniane przez onDateChange() z index.js -->
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input class="btn btn-primary" type="submit" value="Oblicz"/>
                </div>
            </form>
        </div>

        <div id="usage-results" class="col-sm-12 col-lg-8">
            <canvas id="usage-chart">
                <!-- Wypełniane przez repaintCharts() z index.js -->
            </canvas>

            <canvas id="diff-chart">
                <!-- Wypełniane przez repaintCharts() z index.js -->
            </canvas>
        </div>

    </div>
</div>

<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="map-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="map-modal-title">Wybierz nową pozycję</h5>
            </div>
            <div class="modal-body" id="map-modal-body" style="min-height: 60em;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="map-modal-cancel">Anuluj</button>
                <button type="button" class="btn btn-outline-primary" id="map-modal-select">Wybierz</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for("static", filename="index.js") }}"></script>
</body>
</html>